@using Javo2.ViewModels.Operaciones.Ventas
@model IEnumerable<VentaListViewModel>

@{
    ViewBag.Title = "Ventas Pendientes de Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Factura</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model)
        {
            <tr>
                <td>@venta.FechaVenta.ToShortDateString()</td>
                <td>@venta.NumeroFactura</td>
                <td>@venta.NombreCliente</td>
                <td>@venta.PrecioTotal.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@venta.VentaID" class="btn btn-info btn-sm">
                        Detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
